In [108]:
import pandas as pd
import requests
from pprint import pprint

In [109]:

# Step 1: Read CSV file
csv_df = pd.read_csv('Resources/income_census_2022.csv')
print("CSV DataFrame:")
csv_df

CSV DataFrame:

,Label (Grouping),HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER,HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over,FAMILIES,FAMILY INCOME BY FAMILY SIZE,...,FAMILY INCOME BY FAMILY SIZE!!3-person families,FAMILY INCOME BY FAMILY SIZE!!4-person families,FAMILY INCOME BY FAMILY SIZE!!5-person families,FAMILY INCOME BY FAMILY SIZE!!6-person families,FAMILY INCOME BY FAMILY SIZE!!7-or-more person families,FAMILY INCOME BY NUMBER OF EARNERS,FAMILY INCOME BY NUMBER OF EARNERS!!1 earner,FAMILY INCOME BY NUMBER OF EARNERS!!2 earners,NONFAMILY HOUSEHOLDS,NONFAMILY HOUSEHOLDS!!Nonfamily households
0,-> Nashville-Davidson--Murfreesboro--Franklin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-> Nashville-Davidson--Murfreesboro--Franklin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estimate,NaN,"831,347",NaN,"39,012","324,375","286,248","181,712",NaN,NaN,...,"117,532","95,902","46,289","12,445","6,825",NaN,"157,857","246,725",NaN,"299,390"
3,Margin of Error,NaN,"±5,522",NaN,"±3,382","±5,897","±5,585","±3,611",NaN,NaN,...,"±6,168","±5,735","±4,672","±2,078","±1,707",NaN,"±7,973","±6,920",NaN,"±9,451"
4,-> Nashville-Davidson--Murfreesboro--Franklin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Estimate,NaN,"831,347",NaN,4.7%,39.0%,34.4%,21.9%,NaN,NaN,...,22.1%,18.0%,8.7%,2.3%,1.3%,NaN,29.7%,46.4%,NaN,"299,390"
6,Margin of Error,NaN,"±5,522",NaN,±0.4,±0.6,±0.7,±0.4,NaN,NaN,...,±1.1,±1.1,±0.8,±0.4,±0.3,NaN,±1.3,±1.3,NaN,"±9,451"
7,-> Nashville-Davidson--Murfreesboro--Franklin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Estimate,NaN,"80,034",NaN,"45,597","85,269","97,309","58,342",NaN,NaN,...,"105,253","116,585","115,491","103,481","115,551",NaN,"69,409","118,817",NaN,"51,596"
9,Margin of Error,NaN,"±1,660",NaN,"±8,303","±1,869","±3,856","±1,919",NaN,NaN,...,"±4,373","±4,587","±6,075","±8,193","±19,334",NaN,"±3,203","±2,608",NaN,"±1,481"

In [110]:
df_dropped = csv_df.drop(['HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER','FAMILIES','FAMILY INCOME BY NUMBER OF EARNERS'], axis=1)

df_dropped

,Label (Grouping),HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over,FAMILY INCOME BY FAMILY SIZE,FAMILY INCOME BY FAMILY SIZE!!2-person families,FAMILY INCOME BY FAMILY SIZE!!3-person families,FAMILY INCOME BY FAMILY SIZE!!4-person families,FAMILY INCOME BY FAMILY SIZE!!5-person families,FAMILY INCOME BY FAMILY SIZE!!6-person families,FAMILY INCOME BY FAMILY SIZE!!7-or-more person families,FAMILY INCOME BY NUMBER OF EARNERS!!1 earner,FAMILY INCOME BY NUMBER OF EARNERS!!2 earners,NONFAMILY HOUSEHOLDS,NONFAMILY HOUSEHOLDS!!Nonfamily households
0,-> Nashville-Davidson--Murfreesboro--Franklin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-> Nashville-Davidson--Murfreesboro--Franklin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estimate,"831,347",NaN,"39,012","324,375","286,248","181,712",NaN,"252,964","117,532","95,902","46,289","12,445","6,825","157,857","246,725",NaN,"299,390"
3,Margin of Error,"±5,522",NaN,"±3,382","±5,897","±5,585","±3,611",NaN,"±7,522","±6,168","±5,735","±4,672","±2,078","±1,707","±7,973","±6,920",NaN,"±9,451"
4,-> Nashville-Davidson--Murfreesboro--Franklin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Estimate,"831,347",NaN,4.7%,39.0%,34.4%,21.9%,NaN,47.6%,22.1%,18.0%,8.7%,2.3%,1.3%,29.7%,46.4%,NaN,"299,390"
6,Margin of Error,"±5,522",NaN,±0.4,±0.6,±0.7,±0.4,NaN,±1.1,±1.1,±1.1,±0.8,±0.4,±0.3,±1.3,±1.3,NaN,"±9,451"
7,-> Nashville-Davidson--Murfreesboro--Franklin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Estimate,"80,034",NaN,"45,597","85,269","97,309","58,342",NaN,"85,853","105,253","116,585","115,491","103,481","115,551","69,409","118,817",NaN,"51,596"
9,Margin of Error,"±1,660",NaN,"±8,303","±1,869","±3,856","±1,919",NaN,"±3,001","±4,373","±4,587","±6,075","±8,193","±19,334","±3,203","±2,608",NaN,"±1,481"

In [111]:
df_dropped = df_dropped.drop([0, 1, 2, 3, 4, 5, 6, 7, 9])
print("\nDataFrame after dropping rows with index 1 and 3:")

df_dropped

DataFrame after dropping rows with index 1 and 3:

,Label (Grouping),HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over,FAMILY INCOME BY FAMILY SIZE,FAMILY INCOME BY FAMILY SIZE!!2-person families,FAMILY INCOME BY FAMILY SIZE!!3-person families,FAMILY INCOME BY FAMILY SIZE!!4-person families,FAMILY INCOME BY FAMILY SIZE!!5-person families,FAMILY INCOME BY FAMILY SIZE!!6-person families,FAMILY INCOME BY FAMILY SIZE!!7-or-more person families,FAMILY INCOME BY NUMBER OF EARNERS!!1 earner,FAMILY INCOME BY NUMBER OF EARNERS!!2 earners,NONFAMILY HOUSEHOLDS,NONFAMILY HOUSEHOLDS!!Nonfamily households
8,Estimate,"80,034",NaN,"45,597","85,269","97,309","58,342",NaN,"85,853","105,253","116,585","115,491","103,481","115,551","69,409","118,817",NaN,"51,596"

In [112]:
  

df_dropped = df_dropped.drop(['HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER','FAMILY INCOME BY FAMILY SIZE','NONFAMILY HOUSEHOLDS'], axis=1)

df_dropped

,Label (Grouping),HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over,FAMILY INCOME BY FAMILY SIZE!!2-person families,FAMILY INCOME BY FAMILY SIZE!!3-person families,FAMILY INCOME BY FAMILY SIZE!!4-person families,FAMILY INCOME BY FAMILY SIZE!!5-person families,FAMILY INCOME BY FAMILY SIZE!!6-person families,FAMILY INCOME BY FAMILY SIZE!!7-or-more person families,FAMILY INCOME BY NUMBER OF EARNERS!!1 earner,FAMILY INCOME BY NUMBER OF EARNERS!!2 earners,NONFAMILY HOUSEHOLDS!!Nonfamily households
8,Estimate,"80,034","45,597","85,269","97,309","58,342","85,853","105,253","116,585","115,491","103,481","115,551","69,409","118,817","51,596"